<component name="libraryTable">
  <library name="spring-beans-5.2.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/01SpringHelloWorld/lib/spring-beans-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/01SpringHelloWorld/lib/spring-context-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/01SpringHelloWorld/lib/spring-expression-5.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/01SpringHelloWorld/lib/spring-core-5.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>